* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255, 255, 255);
}
.intro:hover{

    background: linear-gradient(rgb(185, 185, 185),white);
}
hr {
    color: black;
}
.profile{
    padding:10px;
    margin: 10px;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(93, 93, 93);
}
.profile:hover{
    background: linear-gradient(rgb(185, 185, 185),white);
}
.content {
    display: flex;
    flex-direction: row;
    height: 200px;
    flex-wrap: wrap;
}

.left{
    width: 40%;
    border: 2px solid rgb(100, 100, 100);
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top:20px;
    padding-bottom: 20px;
    flex-grow: 1;
    background: rgb(205, 205, 205);
    margin-bottom:10px;
}
.right{
    width:60%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    flex-grow: 1;
    margin-bottom:10px;
}

.contact, .skills, .certifications, .education{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    word-wrap: break-word; 
}
.contact h2,.skills h2, .education h2,.certifications h2,.education h3{
    text-decoration:underline;
    margin:5px;
    text-align: center;
    padding: 5px;
}
.contact h2:hover{
    transform: scale(1.2);
}
.skills h2:hover{
    transform: scale(1.2);
}
.education h2:hover{
    transform: scale(1.2);
}
.certifications h2:hover{
    transform: scale(1.2);
}
.contact p,.skills p,.education p,.certifications p{
    margin: 5px 0; 
    text-align: center; 
    max-width: 100%;
}

.internship h2,h5{
    text-decoration: underline;
    text-align: center;
    padding:5px;
    margin:2px;
}
.internship, .projects{
    width: 100%;
   
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items:center;
    flex-wrap: wrap;
    word-wrap: break-word;
}
.internship:hover{
    background: linear-gradient(rgb(185, 185, 185),white);
}
.projects:hover{
    background: linear-gradient(rgb(185, 185, 185),white);
}
h3{
    text-align: center;
}
hr {
    border: 0;
    height: 3px;
    background: #000000;
    margin-bottom: 20px;
}

.projects h2{
    text-align: center;
    text-decoration: underline;
}
.projects ul{
    margin: 5px;
    padding-left: 40px;
}
.projects h3{
    padding: 15px;
    margin:10px;
}
a{
    color:black;
    margin:30px;
    font-size: medium;
}
a:hover{
    font-size: large;
}
li{
    padding:10px;
}
@media (max-width: 768px) {
    .content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    .left{
        width:100%;
    }
    .right{
        width:100%;
    }
}
